html,
body {
    height: 100%;
    h1 {
        color: #0088bf !important;
        font-weight: 700 !important;
    }
    h5 {
        color: #0d3d6b !important;
        font-weight: 500 !important;
        a {
            color: red;
        }
        a:hover {
            color: green;
        }
        a:visited {
            color: red;
        }
    }
    p {
        color: #28537b !important;
    }
    input[type=text]:focus:not([readonly]) {
        border-bottom: 1px solid #34ae8b !important;
        box-shadow: 0 1px 0 0 #34ae8b !important;
    }
}

.flexbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

#rocket {
    height: 15rem;
    width: auto;
    padding: 2rem;
}

#astronaut {
    height: 5rem;
    width: auto;
}

#clock {
    height: 3rem;
    width: auto;
}

@media screen and (max-width: 991px) {
    .gradient {
        height: 30vh;
    }
    .body {
        min-height: 70vh;
    }
}

@media screen and (min-width: 992px) {
    .container-fluid,
    .row,
    .col-lg-6 {
        height: 100%;
    }
    #rocket {
        height: unset;
        width: unset;
        padding: 2rem;
    }
}

.gradient {
    background: linear-gradient(#34a8c1, #34ae8b);
}

// HTML5 loader.
.loader {
    border: 0.5rem solid #F3F3F3;
    /* Light grey */
    border-top: 0.5rem solid #34ae8b;
    /* Blue */
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}